* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 2rem;
}

div {
    margin: 5rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}

h1 {
    margin-bottom: 2rem auto;
    text-align: center;
}

li {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    list-style: none;
    color: black;
}

h1, li {
    width: 800px;
}